<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <location path="admin">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  

  <!--在EFDbContext.cs之后 ！！Web.config内容必须位于一行中-->
  <!--Data Source (在localdb的SportsStore2属性有连接字符串)如下：-->
  <!--Data Source=(localdb)\v11.0;Initial Catalog=SportsStore2;Integrated Security=True-->
  <connectionStrings>
    <add name="EFDbContext" connectionString ="Data Source=(localdb)\v11.0;Initial Catalog=SportsStore3;
         Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>


  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="~/Pages/Login.aspx">
        <credentials passwordFormat="Clear">
          <user name="admin" password="admin"/>
        </credentials>
      </forms>
    
    </authentication>

    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <pages>
      <!--合并用户控件声明-->
      <controls>
        <add tagPrefix="SS" tagName="CartLinks" src="~/Controls/CategoryList.ascx"/>
        <add tagPrefix="CS" tagName="CartSummary" src="~/Controls/CartSummary.ascx"/>
        <add tagPrefix="SX" namespace="SportsStore.Controls" assembly="SportsStore"/>
      </controls>
    </pages>
    <!--CultureInfo类 System.Globalization (MSDN) -->
    <!--{0:c}该格式化程序会根据IIS上的区域性设置（服务器OS的配置）
    en-US：美国，en-GB：英国,  zh-CN CHS CHT HK MO TW SG:中国 -->
    <globalization culture="zh-CN" uiCulture="zh-CN"/>
  </system.web>


  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>